*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --DarkGrey: hsl(0, 0%, 12%);
    --OffBlack: hsl(0, 0%, 8%);
}
body p{
    font-size: 14px;   
}
body{
    background-color: var(--OffBlack);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.MyCompte{
    display: flex;
    height: 80vh;
    width: 45vh;
    background-color: var(--DarkGrey);
    flex-direction: column;
    margin-top: 10vh;
    border-radius: 20px;
    justify-content: space-between;
}
.MyCompte img{
    width: 80px;
    height: 80px; 
    overflow: hidden; 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15% ;
    margin-left: 35%;
    margin-right:20%;

}
.a{
    background-color: var(--Grey);
    margin: 5px 20px 0px 20px;;
    color: var(--White);
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}
.a:hover{
    background-color: var(--Green);
    color: var(--OffBlack);
}
.b{
    background-color: var(--Grey);
    margin: 5px 20px 0px 20px;;
    color: var(--White);
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}
.b:hover{
    background-color: var(--Green);
    color: var(--OffBlack);
}
.c{
    background-color: var(--Grey);
    margin: 5px 20px 0px 20px;;
    color: var(--White);
    padding:15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}
.c:hover{
    background-color: var(--Green);
    color: var(--OffBlack);
}
.d{
    background-color: var(--Grey);
    margin: 5px 20px 0px 20px;;
    color: var(--White);
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}
.d:hover{
    background-color: var(--Green);
    color: var(--OffBlack);
}
.e{
    background-color: var(--Grey);
    margin: 5px 20px 20px 20px;;
    color: var(--White);
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}
.e:hover{
    background-color: var(--Green);
    color: var(--OffBlack);
}
.MyCompte h2{
    display: flex;
    justify-content: center;
    color:var(--White) ;
   margin-top: 5px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight: 50; 
}
.MyCompte h4{
    display: flex;
    justify-content: center;
    color:var(--Green) ; 
    margin-top: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:50; 
}
.MyCompte p{
    display: flex;
    justify-content: center;
    color:var(--White) ;
    margin-top: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 50; 
}
